/* header */
body{
    background-color: whitesmoke;
}

/* logo */
.head img{
    height: 140px;
    width: 8%;
    position: fixed;

}

.head{
     
     color: rgb(249, 238, 238);
   background-color: black ;
     height: 50px;
     width: 100%;
     top: 0%;
    
}
/* header */
     .head{
        position: fixed;
     }
ul{
    display: flex;
    margin-right: 5%;
    justify-content: space-between;
    text-align: right;
    margin-left: 60%;
    
}

a{
    color: rgb(241, 237, 237);
    text-decoration: none;
    font-size:20px;

}
a:hover{
    color: aqua;
}


/* about web development */
.about{
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;
    margin-top: 15%;
     color:rgb(14, 10, 12);
     text-align: center;
     margin-top: 2%;
}
.about h1{
    margin-top: 5%;
}
.about h1:hover{
    color: brown;
}
.heading {
    font-size:150%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    text-align: left;
    
}
.content{
    font-size:150%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    text-align: left;

}
#learn{
    text-align: center;
    color: rgb(45, 127, 127);
} 
#learn a{
    text-decoration: none;
    
}
#ch {
    display: none;
}

#ch:checked ~ label{
    display: none;
}
.content{
    display: none;
}
label{
    display: inline-block;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 3px;
    margin-top: 12px;
}
#ch:checked ~ .content{
    display: block;
}
